* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  padding: 30px 0;
  border: 0;
  box-sizing: border-box;
}

.add-goal-container {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 30vmax;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0 auto;
}

.add-goal-container div {
  font-weight: bold;
  font-size: 20px;
}

.add-goal-container input {
  padding: 5px;
  cursor: pointer;
}

.add-goal-container input:focus {
  background-color: rgb(255, 213, 240);
}

.add-goal-button {
  border: none;
  padding: 8px 3px;
  width: 30%; 
  background-color: purple;
  color: white;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  cursor: pointer;
}

.goal-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 30vmax;
  padding: 20px;
  align-items: center;
  row-gap: 10px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.goal {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}